{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Digital Art Repository</title>

<!-- CSS FILES -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">
        <div class="logo-img">
            <img id="kenyan-flag" src="https://flagcdn.com/w40/ke.png" alt="Kenyan Flag"> 
        </div>

      <!-- site-menu -->
      <div class="site-menu">
        <ul>
          <li><a href="{% url 'home_index' %}">Home</a></li>
          <li><a href="{% url 'home_artists' %}">Artists</a></li>
          <li><a href="{% url 'home_galleries' %}">Galleries</a></li>
          <li><a href="{% url 'home_artworks' %}">Artworks</a></li>
          <li><a href="{% url 'home_events' %}">Events & Exhibitions</a></li>
          <li><a href="{% url 'home_about' %}">About</a></li>
          <li><a href="{% url 'home_contact' %}">Contact</a></li>
        </ul>
      </div>

      <div class="navbar-button"><a href="{% url 'user_sign_in' %}">Join Our Community</a></div>

    </nav>


<!-- HOME -->

	  <header class="page-header" data-background="images/page-header.jpg">

	  	<div class="inner">
        <h1>For this little thing of ours</h1>
        <p>Explore Artists, Galleries and Exhibitions across Kenya.</p>
		  </div>

      <div class="art-button-container">
        <div class="art-button"><a href="{% url 'artist_sign_in' %}">Sign In As Artist</a></div>
        <div class="art-button"><a href="{% url 'gallery_sign_in' %}">Sign In As Gallery</a></div>
      </div>

	  </header>

    <style>
        .logo-img img {
            border-radius: 2rem;
        }

      .messages{
        margin-left: 6rem;
        border-radius: 0.375rem;
        background-color: #f8f9fa;
        text-align: center;
      }

      .messages h4 {
        color: #384B3D;
        font-size: 0.95rem;
        padding-left: 2rem;
    }

    </style>

    <div class="messages">
      {% for message in messages %}
          <h4>{{message}}</h4>
      {% endfor %}
    </div>


<!-- FOOTER -->

    <footer class="footer">
      <div class="footer-bottom">
        <div class="container"> <span class="copyright">© 2025 JB | Visual Artists Management System</span> <span class="creation">Created by <a href="#">Joseph Barasa</a></span> </div>
      </div>
    </footer>

  </div>
</div>

</body>

</html>