{% extends 'home/home_base.html' %}
{% load static %}

{% block content %}

	  <header class="page-header" data-background="images/page-header.jpg">
	  	<div class="inner">
		  	<h1>About Us</h1>
			<p>This <strong>Digital Art Repository</strong> serves as a living archive, preserving creativity,
				amplifying voices, and bridging the gap between artists and audiences in the digital age.
				It offers a centralized platform where visual stories can be stored, shared,
				and celebrated beyond the limits of time and geography. For emerging and established artists alike, 
				it provides visibility, validation, and a pathway to global recognition. It also acts as a cultural mirror, 
				documenting the evolving narratives, identities, and expressions of society. 
				In essence, a digital art repository is not just a collection, it is a catalyst for connection, 
				education, and enduring artistic legacy. <br><br>
				<small style="font-size: 0.8rem;">FOR THIS LITTLE THING OF OURS</small>
			</p>
		  </div>
		  <!-- end inner -->
	  </header>
	  <!-- end page-header -->

{% endblock %}

</body>


