{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Digital Art Repository</title>

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">
      <div> <small>'0</small><strong>2</strong> </div>

      <!-- site-menu -->
      <div class="site-menu">
        <ul>
          <li><a href="{% url 'home_index' %}">Home</a></li>
          <li><a href="{% url 'home_artists' %}">Artists</a></li>
          <li><a href="{% url 'home_galleries' %}">Galleries</a></li>
          <li><a href="{% url 'home_artworks' %}">Artworks</a></li>
          <li><a href="{% url 'home_events' %}">Events & Exhibitions</a></li>
          <li><a href="{% url 'home_about' %}">About</a></li>
          <li><a href="{% url 'home_contact' %}">Contact</a></li>
        </ul>
      </div>

      <div class="navbar-button"><a href="{% url 'user_sign_in' %}">Join Our Community</a></div>

    </nav>


<!-- HOME -->

    <main>
        {% block content %}
          
        {% endblock %}
    </main>

    <div>
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
    </div>

    <footer class="footer">
      <div class="footer-bottom">
        <div class="container"> <span class="copyright">© 2025 JB | Visual Artists Management System</span> <span class="creation">Site created by <a href="#">Joseph Barasa</a></span> </div>
      </div>
    </footer>

</body>

</html>