{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Artist Home Page</title>

</head>

<body>

  <style>
    .logo-img img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
  }
  </style>

    <!-- NAVBAR -->

    <nav class="navbar">

      <div class="logo-img">
        <img id="kenyan-flag" src="https://flagcdn.com/w40/ke.png" alt="Kenyan Flag"> 
      </div>

      <!-- site-menu -->
      <div class="site-menu">
        <ul>
          <li><a href="{% url 'artist_index' %}">Home</a></li>
          <li><a href="{% url 'artist_artists' %}">Artists</a></li>
          <li><a href="{% url 'artist_galleries' %}">Galleries</a></li>
          <li><a href="{% url 'artist_artworks' %}">Artworks</a></li>
          <li><a href="{% url 'artist_events' %}">Events & Exhibitions</a></li>
        </ul>
      </div>

      <div class="profie-icon">
        <a href="{% url 'artist_dashboard' %}">Artist Profile</a>
      </div>
      <div class="navbar-button"><a href="{% url 'artist_sign_out' %}">Sign Out</a></div>
    </nav>

<!-- HOME -->

	  <header class="page-header" data-background="images/page-header.jpg">
	  	<div class="inner">
        <h1>Hello {{user.username}}</h1>
        <p>Manage your digital artist portfolio.</p>
	  </header>


<!-- FOOTER -->

    <footer class="footer">
      <div class="footer-bottom">
        <div class="container"> <span class="copyright">© 2025 | For This Little Thing Of Ours</span> <span class="creation">Created By <a href="#">Joseph Barasa</a></span> </div>
      </div>
    </footer>
  </div>
</div>

</body>

</html>