{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section>
  <div class="container mt-5">
    <div class="col-md-4 text-center">
        <div class="col-md-8">
            <h3>Upload Your Artworks</h3>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="btn btn-primary"><a href="{% url 'artist_dashboard' %}">Update Profile</a></div>
            </form>
        </div>

    </div>

  </div>
  
</section>

{% endblock %}