{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Visual Artists Management System (VAMS)</title>

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">
      <div> <small>'0</small><strong>2</strong> </div>

      <!-- site-menu -->
      <div class="site-menu">
        <ul>
          <li><a href="{% url 'gallery_index' %}">Home</a></li>
          <li><a href="{% url 'gallery_artists' %}">Artists</a></li>
          <li><a href="{% url 'gallery_artworks' %}">Artworks</a></li>

        </ul>
      </div>

      <div class="profie-icon">
        <a href="{% url 'gallery_dashboard' %}">Gallery Profile</a>
      </div>
      <div class="navbar-button"><a href="{% url 'gallery_sign_out' %}">Sign Out</a></div>
    </nav>

<!-- HOME -->
	  <header class="page-header" data-background="images/page-header.jpg">
	  	<div class="inner">
        <h1>{{user.username}} Art Gallery</h1>
        <p>Welcome {{user.username}}, manage your digital art gallery.</p>
	  </header>


<!-- FOOTER -->

    <footer class="footer">
      <div class="footer-bottom">
        <div class="container"> <span class="copyright">© 2025 JB | Visual Artists Management System</span> <span class="creation">Created by <a href="#">Joseph Barasa</a></span> </div>
      </div>
    </footer>
  </div>
</div>

</body>

</html>