{% extends 'users/users-base.html' %}
{% block content %}

<div class="register">
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      <div class="row mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required><br>

          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required><br>

          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password1" name="password1" required><br>

          <label for="password2" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="password2" name="password2" required><br><br>

          <button type="submit" class="btn btn-dark">Register</button> <br><br>

          <div>
            {% for message in messages %}
                <h2>{{message}}</h2>
            {% endfor %}
          </div>
      </div>
    </form>
  </div> <br><br>

{% endblock %}

