{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Digital Art Repository</title>

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">
      <div> <small>'0</small><strong>2</strong> </div>

      <!-- site-menu -->
      <div class="site-menu">
        <ul>
          <li><a href="{% url 'user_index' %}">Home</a></li>
          <li><a href="{% url 'user_artists' %}">Artists</a></li>
          <li><a href="{% url 'user_galleries' %}">Galleries</a></li>
          <li><a href="{% url 'user_artworks' %}">Artworks</a></li>
          <li><a href="{% url 'user_events' %}">Events & Exhibitions</a></li>
        </ul>
      </div>

      {% if user.is_authenticated %}
      <div class="profie-icon">
        <a href="{% url 'user_dashboard' %}">User Profile</a>
      </div>
      <div class="navbar-button"><a href="{% url 'user_sign_out' %}">Sign Out</a></div>
      {% else %}

      <div class="navbar-button"><a href="{% url 'user_sign_up' %}">Sign Up</a></div>

      <div class="navbar-button"><a href="{% url 'user_sign_in' %}">Sign In</a></div>

       {% endif %}

    </nav>

<!-- HOME -->

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="footer">
      <div class="footer-bottom">
        <div class="container"> <span class="copyright">© 2025 JB | Visual Artists Management System</span> <span class="creation">Created by <a href="#">Joseph Barasa</a></span> </div>
      </div>
    </footer>
    
</body>

</html>