{% extends 'users/users-base.html' %}
{% load static %}
{% block content %}

<section class="register">
  <div class="container mt-5">
    <div class="col-md-4 text-center">
      {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" alt="Profile Picture"
        class="img-fluid rounded-circle border shadow" width="200" height="200">
      {% else %}
      <img src="https://via.placeholder.com/200" alt="Default Profile Picture"
        class="img-fluid rounded-circle border shadow">
      {% endif %}

      <h2>{{ profile.first_name}} {{profile.last_name}}</h2>
      <p>{{ profile.user.email }}</p>
      <p>{{ profile.location }}</p>
      <p>{{ profile.bio }}</p>

      <button class="btn btn-success"><a href="{% url 'artist_profile_edit' %}">Edit Profile</a></button>
    </div>
  </div>
</section>

<!-- Internal CSS -->
<style>
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  /* Buttons inside profile */
  .btn-success a {
    text-decoration: none;
    color: white;
  }

  .btn-success {
    margin: 10px;
  }
</style>

{% endblock %}
