{% extends 'users/users_base.html' %}
{% load static %}
{% block content %}

<section class="register">
  <div class="container mt-5">
    <div class="col-md-4 text-center">

      <p>{{user.username}}</p>
      <p>{{user.email}}</p>

      <button class="btn-dark"><a href="{% url 'user_profile_edit' %}">Edit Profile</a></button>
      <button class="btn-dark"><a href="{% url 'user_index' %}">Back</a></button>
    </div>
  </div>
</section>

<!-- Internal CSS -->
<style>
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .btn-dark {
    width: 40%;
    padding: 0.75rem;
    background-color: #465B4B;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
  }


  .btn-dark:hover {
    background-color: #384B3D;
  }

  .btn-dark a {
    color: white;
    text-decoration: none;
  }
</style>

{% endblock %}
